@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@HttpContext.GetGlobalResourceObject("Framework", "Error_Title")</title>
</head>
<body>
    <hgroup>
        <h1>@HttpContext.GetGlobalResourceObject("Framework", "Error_Header")</h1>
        <h2>@HttpContext.GetGlobalResourceObject("Framework", "Error_Content")</h2>
    </hgroup>
</body>
</html>
