<fieldset>
    <legend>@HttpContext.GetGlobalResourceObject("Framework", "Home_Sermons_Legend")</legend>
    <table data-bind="dataTable: { data: sermons, options: { aoColumns: [{ sTitle: '类型' }, { sTitle: '日期' }, { sTitle: '讲员' }, { sTitle: '题目' }]}}"></table>
</fieldset>
